#{extends 'main.html' /}
#{set title:'About' /}
<section id="last-events">
<div id="about">
<h2>Blahblahblah</h2>
<p><b>OSS Project Dashboard</b> is just an unpretentious project which will be used to experiment things around Web frameworks and also to create articles on various technologies.<br>
For now it uses:
<ul>
<li><a href="http://www.playframework.org/" target="_blank">The Play! Framework</a></li>
<li><a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a></li>
</ul>
</p>
<p></p>
<p>Source code is available at <a href="https://github.com/chamerling/ossprojectdashboard">Github</a> and more information can be found (as soon as I have time to write something) on <a href="http://chamerling.org">chamerling blog</a>.</p>
<h2>History</h2>
<h3>Hello! <small>2011-08-22</small></h3>
<p>First version, nothing very hard, just the basis for future work. Uses Play! and Twitter bootstrap.</p>
<h3>Testing menus <small>2011-08-23</small></h3>
<p>Added some dropdown menus based on Twitter bootstrap. Check application.js code to see how to use it since the official bootstrap page says nothing...</p>
</div>
</section>