#{extends 'main.html' /}
#{set title:'Projects for category ' + category /}

<section id="list-category">
  <div class="page-header">
    <h1>Category ${category.name}</h1>
  </div>

  <div class="well"><p>${category.description}</p></div>

  #{if projects.size() >= 1}
    #{list projects, as : 'project'}
      #{display project:project/}
    #{/list}   
  #{/if} 
  #{else}
  <div class="alert alert-info">
	<!--<a class="close" data-dismiss="alert" href="#">×</a>-->
  	<h4 class="alert-heading">Sorry!</h4>
  	No project under category '${category.name}'
  </div>
  #{/else}
</section>

 
 
