#{extends 'main.html' /}
#{set title:'Projects with status with ' + status.name /}
 
<section id="list-status"> 
#{if projects.size() >= 1}
    #{if projects.size() == 1}
   <h3>There is 1 project for status '${status.name}'</h3>
   #{/if}
   #{else}
   <h3>There are ${projects.size()} projects for status '${status.name}'</h3>
   #{/else}
   #{list projects, as : 'project'}
   #{display project:project/}
   #{/list}
#{/if} 
#{else}
    <h3>No project tagged '${status.name}'</h3>
#{/else}
</section>

 
 
